{% extends "agent/base.html" %}
{% load crispy_forms_tags %}
<!-- {% crispy form %} -->
<!-- {% crispy formset %} -->
{% block content %}
    {% csrf_token %}
    <h1>Agent Phone</h1>
    <form method="post">
        {{ formset.management_form }}
        {% csrf_token %}            
        {% for form in formset %}  
            <div class="form-row">                              
                <div class="form-group col-md-3 mb-2">
                    {{ form.phone|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-2">
                    {{ form.phone_extension|as_crispy_field }}
                </div>   
                <div class="form-group col-md-2 mb-2">
                    {{ form.phone_type|as_crispy_field }}
                </div>  
                <div class="form-group col-md-1 mt-5">
                    {% if formset.can_delete %}
                        {{ form.DELETE|as_crispy_field }}
                    {% endif %}                     
                </div>    
                {% endfor %}
        <div class="container">
            <button type="submit" class="btn btn-primary">Update</button>        
        </div>    
    </form>
{% endblock content %}