{% extends "agent/base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% crispy formset %}
{% block content %}
    {% csrf_token %}
    <h1>Agent Phone</h1>
    <!-- <a class="related-widget-wrapper-link change-related" id="change_id_agent_master_code"
    data-href-template="/admin/agent/agentmaster/__fk__/change/?_to_field=id&amp;_popup=1"
    title="Change selected AgentMaster"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_agent_master_code"
    href="/admin/agent/agentmaster/add/?_to_field=id&amp;_popup=1"
    title="Add another AgentMaster"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a> -->
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <!-- <form method="post">
        {{ formset.management_form }}
        {% for form in formset %}
            <ul>
                <li>{{ form.phone }}</li>
                <li>{{ form.phone_extention }}</li>
                {% if formset.can_delete %}
                    <li>{{ form.DELETE }}</li>
                {% endif %}
            </ul>
        {% endfor %} -->
    </form>


{% endblock content %}