{% extends "agent/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div class="clearfix">
                    <span class="float-left"> Master Agent Code:{{ agentmaster.master_code }}</span>
                    <span class="float-right text-muted small"> {{ agentmaster.name }}</span>
            </div>                
            <p class="article-content">{{ agentmaster.address }}</p>
            <p class="article-content">{{ agentmaster.city }}, {{agentmaster.state|upper}} {{ agentmaster.zipcode|stringformat:".5s" }}</p>
        </div>
    </article>
    <a class="btn btn-outline-info mb-4" href="javascript:history.go(-1)">Back</a>  
{% endblock content %}
