{% extends "agent/base.html" %}
{% load crispy_forms_tags %} -->
{% block content %}
    <div class="content-section">
        <form method="POST" action = "{% url 'agent-new-agent' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Agent</legend>
                {{ agent_form|crispy }}
                {{ agent_email_form|crispy }}
                {{ agent_phone_form|crispy }}
            </fieldset>
            <div class="form-group">
                {% if user.profile.user_access_id == 3 %}
                    <button class="btn btn-outline-info" type="submit">Save</button>
                    <a class="btn btn-outline-info btn-md mt-1 mb-1" href="javascript:history.go(-1)">Back</a>  
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}